[package]
name = "petal-neighbors"
version = "0.1.0"
description = "A ball tree data structure for neighbor search."
homepage = "https://github.com/petabi/petal-neighbors"
repository = "https://github.com/petabi/petal-neighbors"
license = "Apache-2.0"
authors = [
    "Min Kim <msk@dolbo.net>",
    "Min Shao <min.shao1988@gmail.com>"
]
edition = "2018"
exclude = ["./github"]

[badges]
codecov = { repository = "petabi/petal-neighbors", service = "github" }

[dependencies]
ndarray = "0.13"

[dev-dependencies]
criterion = "0.3"
rand = "0.7"

[[bench]]
name = "ball_tree"
harness = false
